<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link href="https://fonts.googleapis.com/css2?family=Gotu&display=swap" rel="stylesheet">
    <% if(path === '/') { %>
        <link rel="stylesheet" href="/css/home.css">
    <% } else{ %>
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/task.css">
        <% } %>
</head>

    <nav class="main-heading">
        <ul class="header-list">
            <li class="header-item">
                <a href="/">Home</a>
            </li>
            <li class="header-item">
                <a href="/add-task">Add List</a>
            </li>
            
        </ul>
    </nav>
